* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.countriesImg {
  width: 295px;
  height: 48%;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  border-radius: 16px 16px 0 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  padding: 50px 100px;
  background-color: white;
  color: black;
}

.main-country-container {
  height: fit-content;
  width: fit-content;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 100px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  box-shadow: 0 10px 10px rgba(142, 156, 165, 0.5);
  padding: 20px 100px;
  background-color: white;
  color: #fff;
}

/* Flex Item */
.flex-container article {
  flex: 1 1 25%;
}

.flex-container .details h4 {
  padding-bottom: 10px;
}

.flex-container .details h3 {
  padding-bottom: 5px;
}

.flex-container .details h4 span {
  font-weight: 300;
}

.flex-container .details {
  background-color: white;
  padding: 20px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px;
  border-top-left-radius: 0;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  height: 37px;
}



h4,
h3,
h2 {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

h2 {
  margin-bottom: 36px;
  margin-top: 27px;
}

.take-input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 10px rgba(255, 255, 255, 0.5);
  width: 27%;
  height: 100%;
  position: relative;
  left: 89px;
}



.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 83px;
  box-shadow: 0 10px 10px rgba(9, 17, 22, 0.5);
  padding: 32px;
  background-color: white;
  color: black;
  justify-content: center;
}

.countryContainer {
  display: flex;
  gap: 25%;
  width: 295px;
  box-shadow: 0 30px 61px #0000001a;
  border-radius: 16px
}

h4 {
  font-weight: 600;
}

