.country {
  /* border: 2px solid red; */
}

.country-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 88px;
  /* border: red 2px solid; */
}

select {
  position: relative;
  left: -94px;
}

h4 {
  margin: 8px;
}

.country-image {
  width: 525px;
}

.btn {
  border: 1px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-decoration: none;
  height: 10px;
  padding: 11px;
  position: relative;
  left: 237px;
  top: 40px;
}

/* texts */

.border-contries {
  display: flex;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.borders {
  /* border: 1px solid red; */
}

.each-country {
  margin: 4px;
}

.country-details-main {
  /* border: red solid 2px; */
  display: flex;
  width: 114%;
  justify-content: space-between;
}

.border-contries {
  display: flex;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
  align-items: center;
}

.country-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
  /* border: red 2px solid; */
  width: 71%;
  margin-left: auto;
  margin-right: auto;
}

.country-image {
  width: 526px;
  height: 333px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the shadow values as desired */

}

h5 {
  margin: 6px;
}

.CountryName {
  /* color: red; */
  /* text-align: right; */
  /* width: 227px; */
  margin-left: -2px;
}

span {
  font-weight: lighter;
}

.take-input {
    box-shadow: 0 2px 4px rgb(255 255 255 / 50%), 0 2px 10px rgb(176 148 148 / 50%);
    width: 27%;
    height: 100%;
    position: relative;
    left: 89px;
    margin-top: 7px;
    border: white;
    border-radius: 5px;
    padding-left: 32px;
}


select {
    position: relative;
    left: -94px;
    box-shadow: 0 2px 4px rgb(255 255 255 / 50%), 0 2px 10px rgb(176 148 148 / 50%);
    border: white;
    margin-top: 7px;
}